In [1]:
import  numpy as np
import pandas as pd

In [6]:
credit_card_data = pd.read_csv('credit_data.csv')

In [8]:
#pritig first 5 rows
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

# 0 reprset legit and 1 represent non legit transacation

In [10]:
#pritig last 5 rows
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [12]:
# find distriution of two data
credit_card_data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

# highly data is imbalaced dataset

0---Legit tranjactionn
1 --- Fraud trajaction

In [16]:
# separate legit and fraud data

legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [17]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

# Now we'll use different sampling methods for data

In [18]:
# Undersampling

In [21]:
# Build a sample dataset containing similar distriution of Legit and Tranjactionds
# Number of Fraudalent Transaction ---> 492

In [22]:
legit_sample = legit.sample(n=492)

In [23]:
print(legit_sample.shape)

(492, 31)

In [24]:
# NOw we'll concanitate 2 daataframes
new_dataset = pd.concat([legit_sample, fraud], axis = 0)

In [25]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
171500,120665.0,-0.217825,0.852922,-0.044442,0.125120,1.103526,-1.045627,1.750238,-0.391259,-0.675954,...,0.130468,0.401228,-0.226250,0.001582,0.803802,-0.583458,-0.064635,-0.056694,64.72,0
47288,43161.0,-1.141703,0.342398,1.491312,-0.303993,0.409763,-0.996139,1.235586,-0.204033,-0.612046,...,0.082455,0.016151,-0.118008,0.445697,0.750677,0.464677,-0.082868,0.058888,108.77,0
236507,148840.0,-1.828510,-0.668474,2.186601,0.294606,1.382581,-0.875336,-0.547554,-0.129180,0.526740,...,-0.310119,-0.462795,-0.512581,1.106186,0.072087,-0.405171,-0.126398,-0.107233,5.00,0
171717,120783.0,-0.181666,0.976775,0.018335,-0.733432,0.612791,-0.855213,0.937556,-0.132430,0.200555,...,-0.312119,-0.659310,0.041168,-0.434161,-0.403127,0.173639,0.350492,0.161023,0.89,0
535,403.0,0.699599,-2.631727,0.661576,-0.707254,-2.261000,0.360969,-1.069656,-0.053544,-0.833647,...,0.049882,0.068132,-0.499373,-0.028743,0.460852,-0.003403,0.020449,0.092994,411.88,0

In [26]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [27]:
new_dataset['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64